body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

header, footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 120px); /* Adjust for header and footer height */
}

canvas {
  border: 2px solid #333;
}